# Projet 4

In [1]:
import pandas as pd
import numpy as np

aideali = pd.read_csv('P4/Data/aide_alimentaire.csv')
dispo = pd.read_csv('P4/Data/dispo_alimentaire.csv')
population = pd.read_csv('P4/Data/population.csv')
sn = pd.read_csv('P4/Data/sous_nutrition.csv')
cereales = pd.read_csv('P4/Data/cereale.csv', encoding = 'latin1')

# Preparation des donnees
sn.rename(columns = {'Année': 'Année_sn', 'Valeur':'Valeur_sn'}, inplace = True)
population.rename(columns = {'Année': 'Année_po', 'Valeur':'Valeur_po'}, inplace = True)

sn2017 = sn.loc[sn['Année_sn'] == '2016-2018',:]
pop2017 = population.loc[population['Année_po'] == 2017,:]


dfprop = sn2017.merge(pop2017, on = 'Zone', how = 'left')
dfprop['Valeur_sn'] = dfprop['Valeur_sn']*1000 # unité: million et milliers d'habitants

## 1. la proportion de personnes en état de sous-nutrition en 2017
7.1%

In [2]:
a = dfprop['Valeur_sn'].sum()
b = dfprop['Valeur_po'].sum()

c = "{:.2%}".format(a/b)

print (c)

7.10%

## 2. le nombre théorique de personnes qui pourraient être nourries. 

8367593850

In [3]:
kcal = dispo.groupby(['Zone'])['Disponibilité alimentaire (Kcal/personne/jour)'].sum().to_frame()
kcaltotal = kcal.merge(pop2017, on = 'Zone', how = 'left')


z = kcaltotal['Disponibilité alimentaire (Kcal/personne/jour)']*kcaltotal['Valeur_po']*1000
(z.sum()/2500).round() #2500Kcal par adulte

8367593851.0

## 3. idem pour la disponibilité alimentaire des produits végétaux

6904305685

In [4]:
# dispo.groupby(['Zone', 'Origine'])['Disponibilité alimentaire (Kcal/personne/jour)'].sum()
veg = dispo.pivot_table(index ='Zone', columns = 'Origine', values = 'Disponibilité alimentaire (Kcal/personne/jour)',aggfunc='sum')
vegcal = veg.merge(pop2017, on = 'Zone', how = 'left')


y = vegcal['vegetale']*vegcal['Valeur_po']*1000
(y.sum()/2500).round() #2500Kcal par adulte

6904305685.0

## 4. l’utilisation de la disponibilité intérieure, en particulier la part qui est attribuée à l’alimentation animale, celle qui est perdue et celle qui est concrètement utilisée pour l'alimentation humaine. 

Disponibilité intérieure = Production + Importations - Exportations  

Disponibilité intérieure = Aliments pour animaux + Nourriture + Autres Utilisations + Pertes

{'Aliments pour animaux': '13.24%', 'Nourriture': '49.51%', 'Autres Utilisations': '8.78%', 'Pertes': '4.61%'}

In [5]:
e = dispo['Aliments pour animaux'].sum()
f = dispo['Nourriture'].sum()
g = dispo['Autres Utilisations'].sum()
h = dispo['Pertes'].sum()

i = dispo['Disponibilité intérieure'].sum()

j = "{:.2%}".format(e/i)
k = "{:.2%}".format(f/i)
l = "{:.2%}".format(g/i)
m = "{:.2%}".format(h/i)


utilisationdic = {
"Aliments pour animaux": j,
"Nourriture":k,
"Autres Utilisations":l,
"Pertes":m
}

print (utilisationdic)

{'Aliments pour animaux': '13.24%', 'Nourriture': '49.51%', 'Autres Utilisations': '8.78%', 'Pertes': '4.61%'}

In [6]:
utilisationdict = {}
n = dispo['Disponibilité intérieure'].sum()
for o in ['Aliments pour animaux', 'Nourriture', 'Autres Utilisations', 'Pertes']:
    p = dispo[o].sum()
    q = "{:.2%}".format(p/n)

    utilisationdict[o] = q
print(utilisationdict)

utilisationdict = {o: "{:.2%}".format(dispo[o].sum()/n) 
                   for o in ['Aliments pour animaux', 'Nourriture', 'Autres Utilisations', 'Pertes']}
print(utilisationdict)

{'Aliments pour animaux': '13.24%', 'Nourriture': '49.51%', 'Autres Utilisations': '8.78%', 'Pertes': '4.61%'}
{'Aliments pour animaux': '13.24%', 'Nourriture': '49.51%', 'Autres Utilisations': '8.78%', 'Pertes': '4.61%'}

## 5. les pays pour lesquels la proportion de personnes sous-alimentées est la plus forte en 2017




Haïti	
République populaire démocratique de Corée	
Madagascar	
Libéria	
Lesotho

In [7]:
dfprop['ratio'] = dfprop['Valeur_sn']/dfprop['Valeur_po'] 
dfprop.sort_values(by=['ratio'], ascending = False)

,Zone,Année_sn,Valeur_sn,Année_po,Valeur_po,ratio
78,Haïti,2016-2018,5300.0,2017,10982.366,0.482592
157,République populaire démocratique de Corée,2016-2018,12000.0,2017,25429.825,0.471887
108,Madagascar,2016-2018,10500.0,2017,25570.512,0.410629
103,Libéria,2016-2018,1800.0,2017,4702.226,0.382797
100,Lesotho,2016-2018,800.0,2017,2091.534,0.382494
...,...,...,...,...,...,...
196,Uruguay,2016-2018,NaN,2017,3436.641,NaN
197,Vanuatu,2016-2018,NaN,2017,285.510,NaN
200,Yémen,2016-2018,NaN,2017,27834.819,NaN
201,Zambie,2016-2018,NaN,2017,16853.599,NaN
202,Zimbabwe,2016-2018,NaN,2017,14236.595,NaN

## 6. ceux qui ont le plus bénéficié d’aide depuis 2013

République arabe syrienne	1858943  
Éthiopie	1381294  
Yémen	1206484  
Soudan du Sud	695248  
Soudan	669784

In [8]:
aid2013 = aideali.groupby(['Pays bénéficiaire'])['Valeur'].sum()
aid2013= aid2013.to_frame()
aid2013.sort_values(by =['Valeur'], ascending = False)

#République arabe syrienne	1858943
#Éthiopie	1381294
#Yémen	1206484
#Soudan du Sud	695248
#Soudan	669784

                                  Valeur
Pays bénéficiaire
République arabe syrienne        1858943
Éthiopie                         1381294
Yémen                            1206484
Soudan du Sud                     695248
Soudan                            669784
...                                  ...
Égypte                              1122
Vanuatu                              802
Timor-Leste                          116
Géorgie                               70
Bolivie (État plurinational de)        6

[76 rows x 1 columns]

## 7. ceux ayant le moins de disponibilité/habitant

République centrafricaine  
Zambie  
Madagascar  
Afghanistan  
Haïti

In [9]:
kcaltotal.sort_values(['Disponibilité alimentaire (Kcal/personne/jour)'])

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Année_po,Valeur_po
128,République centrafricaine,1879.0,2017.0,4596.023
166,Zambie,1924.0,2017.0,16853.599
91,Madagascar,2056.0,2017.0,25570.512
0,Afghanistan,2087.0,2017.0,36296.113
65,Haïti,2089.0,2017.0,10982.366
...,...,...,...,...
74,Israël,3610.0,2017.0,8243.848
171,États-Unis d'Amérique,3682.0,2017.0,325084.756
159,Turquie,3708.0,2017.0,81116.450
16,Belgique,3737.0,2017.0,11419.748
11,Autriche,3770.0,2017.0,8819.901

## 8. ceux ayant le plus de disponibilité/habitant

Autriche  
Belgique  
Turquie  
États-Unis d'Amérique  
Israël

In [10]:
kcaltotal.sort_values(['Disponibilité alimentaire (Kcal/personne/jour)'], ascending = False)

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Année_po,Valeur_po
11,Autriche,3770.0,2017.0,8819.901
16,Belgique,3737.0,2017.0,11419.748
159,Turquie,3708.0,2017.0,81116.450
171,États-Unis d'Amérique,3682.0,2017.0,325084.756
74,Israël,3610.0,2017.0,8243.848
...,...,...,...,...
65,Haïti,2089.0,2017.0,10982.366
0,Afghanistan,2087.0,2017.0,36296.113
91,Madagascar,2056.0,2017.0,25570.512
166,Zambie,1924.0,2017.0,16853.599
128,République centrafricaine,1879.0,2017.0,4596.023

## 9. l’utilisation des céréales, notamment la répartition entre l’alimentation humaine (colonne Nourriture) et l’alimentation pour animaux. 

36.29% des céréales sont pour l'alimentation des animeaux, 42.75% sont pour l'alimentation humaine.

In [20]:
cereales['Produit'].sort_values().unique() # pour prendre la liste des produits des céréales

array(['Avoine', 'Bl? et produits', 'C?r?ales, Autres',
       'Ma?s et produits', 'Millet et produits', 'Orge et produits',
       'Riz et produits', 'Seigle et produits', 'Sorgho et produits'],
      dtype=object)

In [21]:
dispo['Produit'].sort_values().unique()

array(['Abats Comestible', 'Agrumes, Autres', 'Alcool, non Comestible',
       'Aliments pour enfants', 'Ananas', 'Animaux Aquatiques Autre',
       'Arachides Decortiquees', 'Avoine', 'Bananes', 'Bananes plantains',
       'Beurre, Ghee', 'Bière', 'Blé', 'Boissons Alcooliques',
       'Boissons Fermentés', 'Café', 'Cephalopodes', 'Citrons & Limes',
       'Coco (Incl Coprah)', 'Crustacés', 'Crème', 'Céréales, Autres',
       'Dattes', 'Edulcorants Autres', 'Feve de Cacao', 'Fruits, Autres',
       'Girofles', 'Graines Colza/Moutarde', 'Graines de coton',
       'Graines de tournesol', 'Graisses Animales Crue', 'Haricots',
       'Huil Plantes Oleif Autr', 'Huile Graines de Coton',
       "Huile d'Arachide", "Huile d'Olive", 'Huile de Coco',
       'Huile de Colza&Moutarde', 'Huile de Germe de Maïs',
       'Huile de Palme', 'Huile de Palmistes', 'Huile de Soja',
       'Huile de Son de Riz', 'Huile de Sésame', 'Huile de Tournesol',
       'Huiles de Foie de Poisso', 'Huiles de Poissons', 'Ignames',
       'Lait - Excl Beurre', 'Légumes, Autres', 'Légumineuses Autres',
       'Manioc', 'Maïs', 'Miel', 'Millet', 'Miscellanees',
       'Mollusques, Autres', 'Noix', 'Oeufs', 'Oignons', 'Olives',
       'Oranges, Mandarines', 'Orge', 'Palmistes', 'Pamplemousse',
       'Patates douces', 'Perciform', 'Piments', 'Plantes Aquatiques',
       'Plantes Oleiferes, Autre', 'Pois', 'Poissons Eau Douce',
       'Poissons Marins, Autres', 'Poissons Pelagiques', 'Poivre',
       'Pommes', 'Pommes de Terre', 'Racines nda', 'Raisin',
       'Riz (Eq Blanchi)', 'Seigle', 'Soja', 'Sorgho', 'Sucre Eq Brut',
       'Sucre non centrifugé', 'Sucre, betterave', 'Sucre, canne',
       'Sésame', 'Thé', 'Tomates', "Viande d'Ovins/Caprins",
       'Viande de Anim Aquatiq', 'Viande de Bovins', 'Viande de Suides',
       'Viande de Volailles', 'Viande, Autre', 'Vin', 'Épices, Autres'],
      dtype=object)

In [26]:
dispo = pd.read_csv('P4/Data/dispo_alimentaire.csv')

cereale = dispo.loc[dispo['Produit'].isin( ['Blé', 'Riz (Eq Blanchi)', 'Orge',
       'Maïs', 'Seigle', 'Avoine',
       'Millet', 'Sorgho', 'Céréales, Autres']),:]

r = cereale['Aliments pour animaux'].sum()
s = cereale['Nourriture'].sum()
t = cereale['Disponibilité intérieure'].sum()

ratioani = "{:.2%}".format (r/t)
ratiohumain = "{:.2%}".format (s/t)

print(r)
print(s)
print(t)
print(ratioani)
print(ratiohumain)

873535.0
1029010.0
2406999.0
36.29%
42.75%

## 10. Proportion de sous nutrition en Thaïlande

8.96%

In [13]:
u = float(sn2017.loc[sn2017['Zone'] == 'Thaïlande']['Valeur_sn'])*1000
v = float(pop2017.loc[pop2017['Zone'] == 'Thaïlande']['Valeur_po'])
w = "{:.2%}".format(u/v)

print(w)

8.96%

## 11. Proportion de manioc exportée depuis Thaïlande

69.94%

In [14]:
x = int(dispo.loc[dispo['Produit'] == 'Manioc']['Exportations - Quantité'].sum())
y = int (dispo.loc[(dispo['Produit'] == 'Manioc')& (dispo['Zone'] == 'Thaïlande') ]['Exportations - Quantité'])

z = "{:.2%}".format(y/x)
print(z)

69.94%