In [1]:
import pandas as pd
import numpy as np

In [4]:
note = pd.read_csv ('notes.csv')

In [8]:
note.head(10)

                  nom   matiere  note
0    Laurent Dagenais  Français    16
1          Guy Marois  Français    13
2     Beaufort Lesage  Français     8
3      Russell Durand  Français    10
4         Alexis Riel  Français    15
5       Leon Lapresse  Français    17
6    Orville Routhier  Français     6
7      Agramant Pepin  Français    17
8  Aiglentina Lambert  Français    16
9     Theodore Clavet  Français     8

In [15]:
note.loc[note.matiere == 'Mathématiques', 'note'].mean()

11.333333333333334

In [20]:
note.groupby('nom')['note'].mean()<10

nom
Aceline Hughes        False
Agate Grandbois       False
Agramant Pepin        False
Agrican Foucault      False
Aiglentina Lambert     True
Alexis Riel            True
Amaury Reault          True
Beaufort Lesage       False
Byron Lefebvre        False
Dorothee Aupry        False
Florus Devoe          False
Gaston Brisette       False
Guy Marois            False
Laurent Dagenais      False
Leon Lapresse         False
Normand Arsenault     False
Orville Routhier       True
Prunella Josseaume    False
Russell Durand         True
Theodore Clavet        True
Yseult Charest        False
Name: note, dtype: bool